{{#if this.session.isAuthenticated}}
  <button
    class='btn read-more logout'
    {{on 'click' this.logout}}
  >Logout</button>
{{/if}}
<h1 class='app-title'><span>Ember</span> Blog App</h1>
<GeneralContainer homepage={{true}}>
  <Post @posts={{this.model}} />
  {{!-- {{#each this.model as |post|}}
      <PostBox @post={{post}} />
    {{/each}}
  </div> --}}
</GeneralContainer>