{{page-title 'NotFounded'}}
<div class='add-form'>
  <h1 class='error-text'>404</h1>
  <p class='text-center'>Oops, the page you're looking for wasn't found
    <LinkTo @route='index' class='color-primary'>
      Back to Home
    </LinkTo>
  </p>

</div>
{{outlet}}